    <!DOCTYPE html>
    <html lang="en">
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>edabudet.by</title>
    </head>
    <body>
    <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="">edabudet.by</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="btn  btn-light" style="margin-right: 5px;" th:href="@{/signIn}" th:unless="${IS_AUTHENTICATED}">Sign
                    in</a>
                <a class="btn  btn-light" th:href="@{/signUp}" th:unless="${IS_AUTHENTICATED}"> Sign up</a>
                <a class="btn  btn-light" href="#" style="margin-right: 5px;" th:inline="text" th:if="${IS_AUTHENTICATED}">[[${#httpServletRequest.remoteUser}]]</a>
                <a class="btn  btn-light" th:href="@{/logout}" th:if="${IS_AUTHENTICATED}">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active text-body" href="#">
                                <span class="text-body" data-feather="home"></span>
                                Dashboard <span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="/admin/home">
                                <span class="text-body" data-feather="file"></span>
                                Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="/admin/product">
                                <span class="text-body" data-feather="shopping-cart"></span>
                                Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="/admin/users">
                                <span data-feather="users" class="text-body"></span>
                                Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="/admin/category">
                                <span class="text-body" data-feather="bar-chart-2"></span>
                                Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="/admin/manufacturer">
                                <span class="text-body" data-feather="layers"></span>
                                Manufacturers</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="container">
                    <form role="form" class="was-validated" method="post" th:action="@{/admin/product/add}">
                        <div class="form-group">
                            <br>
                            <h1 class="display-4">New product</h1>
                            <br>
                            <div class="col-md-12 mb-3">
                                <label for="validationTooltipName">Name</label>
                                <input type="text" class="form-control" id="validationTooltipName" name="name" pattern="[A-Za-z- ]{3,32}"
                                       required>
                                <p class="hepl-block">Name can contain from 3 to 32 characters</p>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>
                            <br>
                            <div class="col-md-12 mb-3">
                                <label for="validationTooltipPrice"></label>Price</label>
                                <input type="number" step="0.01" min="0.01" max="999.99" class="form-control" name="price"
                                       id="validationTooltipPrice" required>
                                <p class="hepl-block">Minimum price - 0.01. Maximum - 999.99</p>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <div class="col-md-12 mb-10">
                                        <label for="validationTooltipDiscount">Discount</label>
                                        <input type="number" step="0.01" min="0" name="discount" max="100" class="form-control"
                                               id="validationTooltipDiscount" required>
                                        <p class="hepl-block">Discount can be from 0 to 100%</p>
                                        <div class="valid-tooltip">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col-md-12 mb-10">
                                        <label for="validationTooltipAmount">Amount</label>
                                        <input type="number" min="1" name="amount" max="1000" class="form-control" id="validationTooltipAmount"
                                               required>
                                        <p class="help=block">Amount can be from 1 to 1000.</p>
                                        <div class="valid-tooltip">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <div class="input-group is-invalid">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text"
                                                       for="validatedInputGroupSelectSubcategory">Subcategory</label>
                                            </div>
                                            <select class="custom-select" name="subcategory" id="validatedInputGroupSelectSubcategory"
                                                    required>
                                                <option class="dropdown-item" th:each="category : ${subcategoryList}"
                                                        th:text="${category.nameSubcategory}"></option>
                                            </select>
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose manufacturer
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <div class="input-group is-invalid">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text"
                                                       for="validatedInputGroupSelectManufacturer">Manufacturer</label>
                                            </div>
                                            <select class="custom-select" name="manufacturer" id="validatedInputGroupSelectManufacturer"
                                                    required>
                                                <option class="dropdown-item" th:each="manufacturer : ${manufacturersList}"
                                                        th:text="${manufacturer.name}"></option>
                                            </select>
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose manufacturer
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-ok"></span>Submit
                    </button>
                    </form>
                </div>
            </main>
        </div>
    </div>

    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
    </body>
    </html>