<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>edabudet.by</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index">edabudet.by</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/links">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Production
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/product/home">Products</a>
                    <a class="dropdown-item" href="/category/subcategory">Categories</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/manufacturer">Manufactures</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Order</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-success" style="margin-right: 5px;"  th:href="@{/signIn}"  th:unless="${IS_AUTHENTICATED}">Sign in</a>
            <a class="btn btn-outline-success" th:href="@{/signUp}"  th:unless="${IS_AUTHENTICATED}"> Sign up</a>
            <a class="btn btn-outline-success" href="/additionalInfo" style="margin-right: 5px;" th:inline="text" th:if="${IS_AUTHENTICATED}">[[${#httpServletRequest.remoteUser}]]</a>
            <a class="btn btn-outline-success" th:href="@{/logout}"  th:if="${IS_AUTHENTICATED}">Logout</a>
        </form>
    </div>
</nav>
<br>
<div class="container-fluid">
<div class="shadow p-3 mb-5 bg-white rounded">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Contacts</h1>
            <p class="lead">Write to us and we will contact you.</p>
            <hr class="my-4">
            <p>We will take into account all your wishes and everything will be fine.</p>
            <div class="card-deck">
                <div class="card">
                    <img src="https://blog.allo.ua/wp-content/uploads/Kak-skinut-foto-s-telefona-na-kompyuter-osnovnye-sposoby-glavnoe-foto.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Number</h5>
                        <p class="card-text">Phone +375(44)735-71-52<br> Local phone +375(17)380-088-88</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 1 month ago</small>
                    </div>
                </div>
                <div class="card">
                    <img src="https://34travel.me/media/upload/images/2017/november/useful34/minsk-guide.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Navigation</h5>
                        <p class="card-text">Minsk, 220124, Masukoushchina 56</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 1 months ago</small>
                    </div>
                </div>
                <div class="card">
                    <img src="https://developers.google.com/gmail/images/landing-gmail.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Email</h5>
                        <p class="card-text">fvantop@gmail.com.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 1 month ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto" style="width: 200px;">
        <h3>
            <small class="text-muted">edabudet.by</small>
        </h3>
    </div>
</div>
</div>
</body>
</html>