<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>edabudet.by</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index">edabudet.by</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/links">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Production
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/product/home">Products</a>
                    <a class="dropdown-item" href="/category/subcategory">Categories</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/manufacturer">Manufactures</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Order</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-success" style="margin-right: 5px;"  th:href="@{/signIn}"  th:unless="${IS_AUTHENTICATED}">Sign in</a>
            <a class="btn btn-outline-success" th:href="@{/signUp}"  th:unless="${IS_AUTHENTICATED}"> Sign up</a>
            <a class="btn btn-outline-success" href="/additionalInfo" style="margin-right: 5px;" th:inline="text" th:if="${IS_AUTHENTICATED}">[[${#httpServletRequest.remoteUser}]]</a>
            <a class="btn btn-outline-success" th:href="@{/logout}"  th:if="${IS_AUTHENTICATED}">Logout</a>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="helpYou">
        <br>
        <h1 class="display-4 text-center">Help you find delicious food🍒</h1>
        <br>
        <h1 class="lead text-center">Subcategories</h1>
    </div>
    <div class="container-fluid">
        <div class="row container-fluid">
            <form class="form-inline" action="#" th:action="@{search}" method="get">
                <input class="form-control mr-sm-2" type="text" name="name" placeholder="Enter category"/>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <br>
    </div>

</div>
</body>
</html>