<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
     integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
     integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>edabudet.by</title>
</head>
<body>
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">edabudet.by</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/imdex">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/links">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Production
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/product/home">Products</a>
                <a class="dropdown-item" href="/category/subcategory">Categories</a>
                 <a class="dropdown-item" href="/manufacturer">Manufactures</a>
                <div class="dropdown-divider"></div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Order</a>
            </li>
            <li>              
                <h4>Help you find delicious food🍒</h4>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Milk..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
<div class="container">
    <form role="form" class="was-validated">
        <div class="form-group">
                <h1>New product</h1>
            <br>
            <div class="col-md-12 mb-3">
                <label for="validationTooltipName">Name</label>
                <input type="text" class="form-control" id="validationTooltipName" pattern="[A-Za-z]{3,32}"  required>
                <p class="hepl-block">Name can contain from 3 to 32 characters</p>
                <div class="valid-tooltip">
                  Looks good!
                </div>
            </div>
            <br>
            <div class="col-md-12 mb-3">
                <label for="validationTooltipPrice"></label>Price</label>
                <input type="number" step="0.01"  min="0.01" max="999.99" class="form-control" id="validationTooltipPrice" required>
                <p class="hepl-block">Minimum price - 0.01. Maximum - 999.99</p>
                <div class="valid-tooltip">
                  Looks good!
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
            <div class="col-md-12 mb-10">
                <label for="validationTooltipDiscount">Discount</label>
                <input type="number" step="0.01" min="0" max="100" class="form-control" id="validationTooltipDiscount" required>
                <p class="hepl-block">Discount can be from 0 to 100%</p>
                <div class="valid-tooltip">
                  Looks good!
                </div>
            </div>
            </div>
            <div class="col">   
            <div class="col-md-12 mb-10">
                <label for="validationTooltipAmount">Amount</label>
                <input type="number" min="1" max="1000" class="form-control" id="validationTooltipAmount" required>
                <p class="help=block">Amount can be from 1 to 1000.</p>
                <div class="valid-tooltip">
                  Looks good!
                </div>
            </div>
            </div>
            </div>  
            <br>
            <br>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <div class="input-group is-invalid">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="validatedInputGroupSelectSubcategory">Subcategory</label>
                          </div>
                          <select class="custom-select" id="validatedInputGroupSelectSubcategory" required>
                            <option value="">Choose subcategory</option>
                            <option value="1">Milk food</option>
                            <option value="2">Meat</option>
                            <option value="3">Bakery</option>
                          </select>
                        </div>
                        <div class="invalid-feedback">
                          Please choose manufacturer
                        </div>
                      </div>        </div>
        <div class="col">
            <div class="mb-3">
                <div class="input-group is-invalid">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="validatedInputGroupSelectManufacturer">Manufacturer</label>
                  </div>
                  <select class="custom-select" id="validatedInputGroupSelectManufacturer" required>
                    <option value="">Choose manufacturer</option>
                    <option value="1">Belarus</option>
                    <option value="2">Russia</option>
                    <option value="3">USA</option>
                  </select>
                </div>
                <div class="invalid-feedback">
                    
                    Please choose manufacturer
                </div>
              </div>
        </div>
    </div>
        </div>
    </form>
    <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-ok"></span>Submit</button>
</div>

</body>  
</body>
</html>